APP_URL=http://localhost/sportmanager

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contrasena_de_aplicacion
MAIL_FROM_ADDRESS=tu_correo@gmail.com
MAIL_FROM_NAME=Sport Manager

